body {
    font-family: Arial, sans-serif;
}

header .logo {
    max-width: 100px;
    margin-bottom: 10px;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
}

footer {
    background-color: #343a40;
}

footer p {
    margin: 0;
}

form .form-group {
    margin-bottom: 15px;
}

/* Animation für den "Jetzt Spenden" Button */
.btn-animated {
    transition: background-color 0.3s, transform 0.3s;
}

.btn-animated:hover {
    background-color: #0056b3; /* Dunkleres Blau */
    transform: scale(1.1); /* Vergrößern */
}
